.buttons-more-page {

  }

.title{text-align: center;
  }

a{
  text-decoration:none;
}

p{
  font-family: Sinhala Sangam MN, "Arial";
}
#moretext{  text-align: center;
  font-size: 120%;}

ion-content {
      background: #88D1BC; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(180deg, #88D1BC, #74E4FF); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(180deg, #88D1BC, #74E4FF); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(180deg, #88D1BC, #74E4FF); /* For Firefox 3.6 to 15 */
      background: linear-gradient(180deg, #88D1BC, #74E4FF); /* Standard syntax (must be last) */
  }

@media only screen and
  (max-width: 1080px) {
    #morebuttons {max-width: 100%;
                  bottom: 20px;
    }
}
    @media only screen and
      (max-width: 3000px) and (min-width: 1081px) {
        #morebuttons {position: relative;
          left: 25%;}
      }
