

<ion-header>
<ion-navbar>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <button class="hidden" ion-button icon-only>
            <ion-icon name='arrow-back'></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>

        <ion-title class="title">Cherry Picks</ion-title>

      <ion-col>
        <ion-buttons end>
        <button (click)="showsearch()" ion-button end icon-only>
          <ion-icon name='search'></ion-icon>
        </button>
      </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-navbar>
</ion-header>
<ion-content>
  <p>hello</p>
  <!--<ion-item *ngFor="let vendor of vendors" (click)="selectcherryvendor(vendor)">-->
  <ion-item *ngFor="let vendor of vendors" ng-if="vendor.VEN_Cherry == '1'" (click)="selectcherryvendor(vendor)">
      <ion-thumbnail item-start>
        <img src="{{vendor.VEN_Img}}" />
      </ion-thumbnail>
      <h2>{{vendor.VEN_Name}}</h2>
      <p>{{vendor.VEN_Cherry}}</p>
    </ion-item>
</ion-content>
