page-home {

}

.heading{text-align: center;}
.grid{text-align: center;}

.hidden {
     display:none;
}

@media only screen and
  (max-width: 736px) {
    img {max-width: 70%}
    }

    @media only screen and
      (max-width: 1736px) and (min-width: 737px) {
        img {max-width: 15%}
        }
