page-home {

}

.heading{text-align: center;}
.grid{text-align: center;}

.hidden {
     display:none;
}
/*.heading {
  color: #ff7f50;

}*/
.transButtons{
background: none; 
}

@media only screen and
  (max-width: 736px) {
    img {max-width: 68%}
    p {font-size: 100%;}
    }

    @media only screen and
      (max-width: 3000px) and (min-width: 737px) {
        img {max-width: 23%}
        p {font-size: 100%;}
        }
