page-home {

}

.heading{text-align: center;}
.grid{text-align: center;}

.hidden {
     display:none;
}
/*.heading {
  color: #ff7f50;

}*/


@media only screen and
  (max-width: 1080px) {
    img {max-width: 68%}
    p {font-size: 100%;
    color:black;}
    /*.transButtons{
      background: none;
      padding: 10px 10px;
    }*/
    }

    @media only screen and
      (max-width: 3000px) and (min-width: 1081px) {
        img {max-width: 23%}
        p {font-size: 100%;
        color:black;}
      /*  .transButtons{
          background: none;
          padding: 10px 10px;
        }*/
        }
