//cell
    @media only screen and
      (max-width: 1080px) {
        .thumbnail {width: 14%;
                    float: left;
                    margin-right: 2%;
              }
              .couponImg{
                width:100%;
                display: block;
                margin: auto;
                //width: 40%;



              }
        }

//comp
        @media only screen and
          (max-width: 3000px) and (min-width: 1081px) {
            .thumbnail {width: 5%;
                        float: left;
                        margin-right: 2%;}

            .couponImg{
              width:100%;
              display: block;
              margin: auto;
            }
          }
